.why-item {
  padding: 1.2rem;
  text-align: center;

  border-radius: 1.2rem;
  background-color: var(--light-blue50);

  & img {
    padding: 0.4rem;
    border-radius: 50%;
    background-color: var(--light-blue50);
  }
}
