.main-search-bar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-search-bar__container {
    width: 60vw;
    height: 4.8vh;
    padding: 0 0 0 0.4rem;
    display: flex;
    gap: 0.4rem;
    border-radius: 0.4rem;

    background-color: var(--deep-orange);

    & input {
      width: 100%;
      border: none;
      outline-style: none;

      background-color: transparent;
      color: var(--soft-white);

      &::placeholder {
        color: var(--soft-white);
      }
    }
  }
}
