.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & a {
    display: flex;
    align-items: center;
  }

  & nav {
    display: flex;
    gap: 0.8rem;
  }

  & aside {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
